.app-table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

.app-table td,
.app-table th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  vertical-align: top;
}

.app-table tr:nth-child(even) {
  background-color: #dddddd;
}